<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".internal.PdfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceiptScanPdf">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.ProductIntelligence"
            android:value="sB3QUEyOz0mKBrzWLJvpTdqJMva8B6FtuH78tEQ+1/ULxCJccy9T5YaAotU/l3WC" />

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAZY29tLmJsaW5rcmVjZWlwdC5zY2FuLnBkZmgqiaU/y2JTFGlGYkEDZxxdQfy+b8DPt+5HIFVDWtRxMyIi0G50Noct8bWcQ0Ft77RKJX0IZVeKsVjFpe+ts/VQNnTJxYHW8YqubUtmIFfxczlbJUyYT8fmKWGWFNY/COHGqQr0++mRD7/VLAMIdmQ5t6ZN+3Lvyn9qDQjuODu+3opzelcP" />

    </application>

</manifest>