<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BlinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceipt">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAYY29tLmJsaW5rcmVjZWlwdC5iYXJjb2RlomVie1VX+j+rHgyWxIInsi1iDeu59IbPWIeWlxELfs9ZJ7u1nhSw3MNIwpC4uWC60BYGN3auonKZvpIgGAiPAro76DJad4rvBxv9614nkxFHgxwQJCvzMTlufG/a7291XHk0R/bKXXXJGZj+n6c9uGQ0H1w95KPgRmCljoFuH74peNILnZo=" />

    </application>

</manifest>