<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BlinkApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceiptAccountLinking">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAYY29tLmJsaW5rcmVjZWlwdC5saW5raW5nobvFgzFBiDAKa82i2w7OEqXvts9pBn51mM/GgKOj7W1Y5JhBdmxec4Elh9u+8TfpC4kiBjsoufHkasJNLLBkXwIlFlIouHPggWe6BEDb+9hmPFdSiuISLSLJYMoXdKdbQ6lA8wPHHr++lx4n7a6Sr2Zo9cgPW0ex2+pU+nHuDfA5h+Ru8bM=" />

        <meta-data
            android:name="com.microblink.ProductIntelligence"
            android:value="sB3QUEyOz0mKBrzWLJvpTcypZqCUkBuy3cbpoaZYqU4XmCGpt6S2tcV/MjoSqBEP" />

    </application>

</manifest>