<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceiptDirectApi">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.ProductIntelligence"
            android:value="sB3QUEyOz0mKBrzWLJvpTQyZ4zzRz4BcuCNGev3dCTeL+IeD/qnf8whXzZ3xfIxH" />

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAbY29tLmJsaW5rcmVjZWlwdC5kaXJlY3RzY2Fu9xHK9Ixz1unJxlNl+PXzpD4dKetM/VpG19TCDw5x4g8bimV8n3PVFVukcQr2KQ/MTVs9UGh2FIPD4sXw7+Me5Yhj+WvNljDE0Vx40DYDGmijBOCkDNNDRiUXsXFxx65FtpE69FAv5AZcbDjcOFYImfuzMeoA39zSc7LQ6wrjPN6WS1mR4n4=" />

    </application>

</manifest>