<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blinkreceipt.directscan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceiptDirectApi">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.ProductIntelligence"
            android:value="sB3QUEyOz0mKBrzWLJvpTQyZ4zzRz4BcuCNGev3dCTf+HFixM+Pvvjb5bgIxXduU" />

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAbY29tLmJsaW5rcmVjZWlwdC5kaXJlY3RzY2Fu9xHK9Ixz1unJxlOF/+Wn5ErzuYb+ZLKtifWVrERBJdhRVRIrrszS6ufGjj9OfIzE8sYfA64XuUSxzS41Cv5c0D8ndQ9F+5lqG3Lp2QArRkyv7H6bPCROggvG6/s9G3rNzmCn790ZwkzMD+rhvIXnMLTpdZN84g4DFw+jSzlSyxBCffBXAvM=" />

    </application>

</manifest>