<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blinkreceipt.earnings">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BlinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceiptEarnings">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAZY29tLmJsaW5rcmVjZWlwdC5lYXJuaW5nc4jUxor7w21Ji6q+iof77nurmY2O1GTGNtdVRYUnADS/g/UfqTsMxtMWSHyACPUPFnALGf8DA8WGVco6l7xoCX8kCHjr2zlgrHXuMboou3p0dg9mHO05I9VAVrrh3fblJPVJe7n+dDfQBZiWOC+xASfmVlBCIKfH7SNz0WE81Tp+fgXyw78V" />

    </application>

</manifest>