<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BlinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceiptEarnings">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.ProductIntelligence"
            android:value="sB3QUEyOz0mKBrzWLJvpTYb7iG+BbmOAXBYg/Ol+tZnHKMMhWoN+ee5NmWKFe9wO" />

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAZY29tLmJsaW5rcmVjZWlwdC5lYXJuaW5nc4jUxor7w21Ji6q+itrO6XnMspCDKRwR30EcyYaipTM2Jjpp2gwzFnaL7W1cduz2fGSR4H/HEen7b9N9GqML+H2e75pGsWRye1diJ/+a0VteL8liAczW8UPNpS+yV/Oo2qnay2xMw6GpDmYQmva3UWQdsHBzftMHh+Klvlo+0NGVDeWntmSs" />

    </application>

</manifest>