<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blinkreceipt.development">

  <application
      android:name=".BlinkSurveysApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.Blinkreceiptdemo">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data
        android:name="com.microblink.LicenseKey"
        android:value="sRwAAAAYY29tLmJsaW5rcmVjZWlwdC5zdXJ2ZXlzh1Abwgh8le/dWIol0Xw6wvpMplT4/2UcI8gnypHpg/eWVnEKvWBeso66PqE/78CB/7UZ5WP/I7TI/xNva3Mt4cwiorD9JlEgVk/4DJTGx8k2/cGm3xHtwGs2NpUzjxbSPtKYLVkrk/pEDl2j6chR6jfOpyWnCu9cOAp/mMAfEQbStit/Pq8=" />

<!--    <meta-data-->
<!--        android:name="com.microblink.ClientUserId"-->
<!--        android:value="" />-->

  </application>

</manifest>