<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blinkreceipt.development">

  <application
      android:name=".BlinkSurveysApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.Blinkreceiptdemo">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data
        android:name="com.microblink.LicenseKey"
        android:value="sRwAAAAYY29tLmJsaW5rcmVjZWlwdC5zdXJ2ZXlzh1Abwsh8le/dWIrF3Hw2yrXIzsN7bSm1HfuO5aXdE63QWu+ggvCF8QOur5cSCxL8BEmUMt+6Ci2wA0upGPBK2X/FGHn2OfJAlJ8fVM7hKssk6VbqA1o88ckbTVISEt087T5PUNwzPaxumKihS7VpaErMB01KqOQYgpk3Cyc7oe1P/ajfDwE=" />

  </application>

</manifest>