<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".BlinkSurveysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkReceipt">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAYY29tLmJsaW5rcmVjZWlwdC5zdXJ2ZXlzh1Abwsh8le/dWIol1Dw0xoVTXFZJS9Qd5fQlH7wmRj0npRYVGKUAn3uVnY/ELAw0xS5JbLZWnUwCcxG1hCgdW9tWLPNezENiBXYcRAMCxdF2kpkf5TlIe3JLLryZXiXHDOCxt81eCBr8nT9/FKY3sVqx881HOHPzxlWdM3jzl9PB1fbYFeg=" />

    </application>

</manifest>