<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BlinkApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.microblink.ProductIntelligence"
            android:value="sB3QUEyOz0mKBrzWLJvpTQvKcUbcaXbhXPQH5U4JfvE=" />

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="sRwAAAAUY29tLmJsaW5rcmVjZWlwdC5vY3L7sc450aElcQC0phae2ZQgzkd9IL0JzOEGDe4gQKtpD7/Ux4wI1u6Amp7KTl3WzsdXmyBi1TuS9uRwvuy6oWtNi3EygxX8O4pmQ7+B4gL4pi+ihgb0Ks4qAjkVJg1x9nfxyIv07jFoX7ZPCRXBF97xavzcz+ma6HNkBbNqM/Fo3129dGudCw==" />

    </application>

</manifest>