<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microblink.extensions">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.microblink.LicenseKey"
            android:value="YKMXB5QK-DGBFH424-ADWCA4IZ-WDCU63TY-GP5U2HD5-SFFTXJVM-XQCSXTV5-DH6WGT3K" />

    </application>

</manifest>
